.welcome {
    background-color: #D2B48C;
    display: flex;
    padding: 1em 1em 3em 3em;
    justify-content: space-around;
}

.links-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* justify-content: space-evenly; */
}

#friends-betting-img {
    width: 60%;
    height: auto;
    /* padding-left: 2%; */
}

.login-anchor {
    color: #120906
}

.login {
    color: #120906;
    font-size: 40px;
    margin-bottom: 1em;
}

.signup-anchor {
    color: #120906;
}

.sign-up {
    font-size: 40px;
}

.intro {
    background-color: #C4C4C4;
    padding: 3%;
}

.intro-text {
    margin: 5%;
}