.welcome {
    background-color: #D2B48C;
    height: 650px;
}

#friends-betting-img {
    height: 500px;
    width: 800px;
    margin-top: 60px;
    margin-left: 600px;

}

.login {
    color: white;
    font-size: 80px;
    position:absolute;
    top: 200px;
    left: 200px;
}

.sign-up {
    color: white;
    font-size: 80px;
    position:absolute;
    top: 400px;
    left: 200px;
}

.intro {
    background-color: #C4C4C4;
    height: 300px;
}

/* .intro-text {
    margin-top: 50px;
} */