.welcome {
  background-color: #646464b8;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome-hero {
  display: flex;
  /* margin: 2rem; */
  justify-content: space-evenly;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#image-placeholder {
  width: 50%;
  height: auto;
  margin-top: 50px;
}

.login-anchor {
  color: #120906;
}

.login {
  color: #120906;
  font-size: 2rem;
  margin-bottom: 1em;
}

.signup-anchor {
  color: #120906;
}

.sign-up {
  font-size: 40px;
  font-size: 2rem;
}

.intro {
  /* background-color: white; */
  /* padding: 3%; */
  width: 100%;
  text-align: center;
  /* background-image: linear-gradient(45deg, darkslategrey 40%, lightslategrey 60%); */
}

.intro-text {
  margin: 5%;
}
