.custom-bet-list {
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
  color: white;
  max-height: 80vh;
  height: 25rem;
  border-radius: 4px;
  width: 55rem;
  margin-top: 1rem;
  min-width: 350px;
}

.bet-list-title-div {
  text-align: center;
  color: black;
  background: white;
  margin: 0;
  padding: .5rem 0;
}

.joined-created-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem 0 1rem;
}

.betlist-head-row {
  display: grid;
  grid-template-areas: 'name' 'name' 'amount' 'actions';
  grid-template-columns: 4fr 2fr 1fr 1fr;
  min-width: 20rem;
  width: 100%;
  text-align: left;
  align-items: center;
 }

  .custom-border {
  border-right: 2px solid black;
  margin-right: 0.2rem;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: flex-end;
}

.bet-item:nth-child(odd) {
  background: darkslategrey;
}
.bet-item:nth-child(even) {
  background: lightslategrey;
}
