.custom-bet-list {
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
  color: white;
  max-height: 80vh;
  height: 20rem;
  border-radius: 4px;
}

.bet-list-title {
  text-align: center;
  color: black;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
}

.betlist-head-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 20rem;
  width: 50vw;
  text-align: left;
  align-items: center;
}

.custom-border {
  border-right: 2px solid black;
  margin-right: 0.2rem;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: flex-end;
}

.bet-item:nth-child(odd) {
  background: darkslategrey;
}
.bet-item:nth-child(even) {
  background: lightslategrey;
}
