.custom-member-list {
    overflow-y: scroll; 
    overflow-x: hidden;
    background: black;
    color: white;
    max-height: 80vh;
    height: 20rem;
    /* padding: 1rem 1.5rem; */
  }
  
  .member-list-title {
    text-align: center;
    color: black;
    width: 100%;
    background: white;
    margin: 0;
    padding: 0;
  }
  
  .head-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 20rem;
    width: 50vw;
    text-align: center;
    align-items: center;
  }
  
  .member-item:nth-child(odd) {
    background: darkslategrey;
  }
  .member-item:nth-child(even) {
    background: lightslategrey;
  }