.home {
  padding: 1em 1em 3em 3em;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap; 
}

.welcome-name {
  font-size: 2rem;
  text-align: center;
}

.welcome-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.create-bet-here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.bet-intro {
  color: black;
  font-size: 2rem;
  text-align: center;
}

.bet-list {
  width: 55%;
  height: 90%;
  background-color: hsla(34, 44%, 69%, 1);
}

.custom-button a {
  text-decoration: none;
  color: white;
}
