.home {
  padding: 1em 1em 3em 3em;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap; 
}

.welcome-name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-size: calc(0.8em + 1vmin);
  padding: calc(0.4em + 1vmin);
}

.welcome-user-container {
  display: flex;
  flex-direction: column;
}

.create-bet-here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.bet-intro {
  color: black;
  font-size: 2rem;
  text-align: center;
  /* font-size: calc(0.8em + 1vmin); */
  /* padding: calc(0.4em + 1vmin); */
}

.bet-list {
  width: 60%;
  height: 90%;
  background-color: hsla(34, 44%, 69%, 1);
}

.custom-button a {
  text-decoration: none;
  color: white;
}

.custom-button {
    width: fit-content;
}
