.join-bet{
    background-color: gray;
    color: white;
    height: 100%;
    padding: 10px;
}

.bd{
    font-weight: 400;
    font-size:xx-large;
    margin-top: 50px;
}

.name{
    font-weight: 400;
    font-size:xx-large;

}

.Am{
    font-weight: 400;
    font-size:xx-large;
    /* margin-bottom: 200px; */
}

.Oh{
    font-weight: 400;
    font-size:xx-large;
    margin-top: 50px;
}

.button-link{
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
    /* justify-content: center; */
}

.display-bet-button{
    height: 50px;
    background-color: tan;
}



