.join-bet{
    background-color: gray;
    color: white;
    height: 100%;
}

.bd{
    font-weight: 400;
    font-size:xx-large;
    margin-top: 50px;
}

.name{
    font-weight: 400;
    font-size:xx-large;

}

.Am{
    font-weight: 400;
    font-size:xx-large;
    margin-top: 300px;
}




