.navbar {
  display: flex;
  background: white;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.nav-link:hover {
  transition: 1s ease-in-out;
  text-decoration: underline;
}
