.custom-footer {
  background: black;
  display: flex;
  align-items: center;
  padding: .8rem .5rem;
  font-size: 1.4rem;
}

.footer-left {
padding-left: 1%;
}

.footer-right {
  margin-left: auto;
  margin-right: 3rem;
}

.footer-right a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.company-text{
  color: white;
  font-size: .8rem;
}