.login-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.register-link {
  color: white;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 400px;
  }
}