* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid hotpink; */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* All three need to be for full height layout */
html, body, #root {
  height: 100%;
}

.header, .footer {
  flex: 0;
}

/* applies to all components */
.flex-component {
  flex: 1 1 0;
  overflow-y: auto;
  background: url("./assets/friendsBetting.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

/* utility class for layout - used by all components */
.general {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'open sans';
  font-weight: bold;
  font-size: calc(0.8em + 1vmin);
  padding: calc(0.4em + 1vmin);
}

.link {
  text-decoration: none;
  color: #333;
  margin: 0 1rem;
}

.link:hover {
  color: hsl(205 90%, 30%)
}











